.home {
    &__container {
        max-width: 1300px;
        margin: 0 auto;
    }

    &__parallax-container {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 1px;
    }
}

.slider {
    @include parallax-item;
    width: 105%;
    min-height: 100vh;
    height: 100%; 
    text-align: center;
    color: $main-white;

    &__slide {
        @include flex-center(column);
        height: 100%;
        padding: 0 7rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        transition-delay: .35s;

        @for $i from 1 through 5 {
            &:nth-of-type(#{$i}) {
                &::before {
                    @include parallax-bg("slide/slide0#{$i}", top);
                }
            }
        }
    }

    &__button--hidden {
        display: none;
    }

    @for $i from 1 through 5 {
        &__button:nth-of-type(#{$i}):checked ~ &__bar &__label:nth-of-type(#{$i}) {
            background-color: $main-white;
        }

        &__button:nth-of-type(#{$i}):checked ~ &__slide:nth-of-type(#{$i}) {
            @include transition;
            bottom: 0;
            z-index: 1;
        }
    }

    &__bar {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__side-button {
        @include transition;
        width: 50%;
        height: 100%;
        position: relative;
        font-size: 2rem;
        color: $subheading-color;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;

        &:focus {
            outline: none;
        }
    }

    &__prev-button {
        float: left;

        &:hover ~ .slider__label-container::before {
            color: $main-white;
        }
    }

    &__next-button {
        float: right;

        &:hover ~ .slider__label-container::after {
            color: $main-white;
        }
    }

    %side-icon {
        @include transition;
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-size: 2rem;
        font-weight: 900;
        color: $subheading-color;
        pointer-events: none;
    }
    
    &__label-container {
        @include flex-center;
        width: 200px;
        height: 100px;
        margin: 0 auto;
        position: absolute;
        bottom: 3rem;
        left: 0;
        right: 0;
        font-size: 0;
        z-index: 3;

        &::before {
            @extend %side-icon;
            content: "\f053";
            right: 105%;
        }

        &::after {
            @extend %side-icon;
            content: "\f054";
            left: 105%;
        }
    }
        
    &__label {
        @include transition;
        width: 20px;
        height: 20px;
        background-color: $subheading-color;
        border-radius: 50%;
        cursor: pointer;
        
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    &__heading {
        font-size: 7.5rem;
    }

    &__subheading {
        @extend %subheading;
        padding-bottom: 2rem;
    
        &::after {
            @include underline;
        }
    }
}

.recent-articles {
    @include flex-space-between;
    margin-bottom: -$margin-b;
}

.card {
    $image-height: 200px;
    @include flex-center(column);
    justify-content: space-between;
    margin-bottom: $margin-b;
    padding: 2.5rem 2rem;
    padding-top: calc(#{$image-height} + 2rem);
    position: relative;
    text-align: center;
    background-color: $main-white;

    @include sm {
        width: calc(50% - 1rem);
    }

    @include lg {
        width: calc(25% - 1rem);
    }

    &::before {
        content: "";
        width: 100%;
        height: $image-height;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
    }

    @for $i from 1 through 4 {
        &:nth-child(#{$i})::before {
            background-image: url(img/pic/pic0#{$i}.jpg);
        }
    }

    p {
        margin-bottom: 2.5rem;
    }

    &__subheading {
        @extend %subheading;
        padding-top: .75rem;
        display: inline-block;
        font-size: .75rem;

        &::before {
            @include underline($top);
        }
    }

    &__text{
        text-align: left;
    }

    &__button {
        @extend %button-link;
    }
}

.gallery {
    padding: 0 0 $padding-t-b 0;
    text-align: center;

    &__header {
        $splitter-height: 150px;
        @include parallax-item;
        width: 105%;
        min-height: $splitter-height;
        padding: 0 $padding-l-r;
    
        &::before {
            @include parallax-bg("bg", bottom); 
        }
    
        h2 {
            text-align: left;
            line-height: $splitter-height;
            color: $main-white;
        }
    }

    &__main {
        @include flex-center;
        flex-wrap: wrap;
    }
    
    &__img-wrapper {
        @include square-width(100%);
        position: relative;
        overflow: hidden;

        @include sm {
            @include square-width(50%);
        }
        @include md {
            @include square-width(25%);
        }
    }

    &__image {
        @include transition;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__button {
        @extend %button-link;
    }
}

.footer {
    background-color: $main-black;

    &__container {
        @include flex-space-between;
    }

    &__wrapper {
        width: 100%;

        @include lg {
            width: calc(50% - 1rem);
        }
    }
    
    &__section {
        margin-bottom: 2rem;
        padding: 0;
    }

    &__heading {
        color: $main-white;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    &__copyright {
        text-align: center;
        display: block;
    }
}

.social {
    &__wrapper {
        text-align: center;
        @include lg {
            text-align: left;
        }
    }

    &__button {
        @include transition;
        font-size: 2.5em;
        color: $text-color;

        &:not(:last-child) {
            margin-right: 1em;
        }

        &:hover {
            color: $button-bg-color;
        }
    }
}

.form {
    $textarea-wrapper: ":nth-child(3)";
    @include flex-space-between;
    margin: 0 auto;

    &__input-wrapper {
        flex-basis: 100%;
        @include sm {
            &:not(#{$textarea-wrapper}) {
                flex-basis: calc(50% - 1rem);
            }
        }
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__input {
        
        width: 100%;
        margin-bottom: 2rem;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        border: none;
        border-radius: 3px;

        &::placeholder {
            font-size: 1rem;
        }
    }

    &__submit {
        @extend %button-link;
        margin: 0 auto;
        background-color: $text-color;
        border-color: $text-color;
        cursor: pointer;
        @include lg {
            margin: 0;
        }
    }
}